@import 'variables';

body { 
    background-color:$bg-dark;
    color: $texto-brillo;
    font-family: $fuente-base;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
     &::before{
        content:"";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        /* INSERTAR LA IMAGEN DE FONDO */
        background-image: url('../img/Fondo-1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.4;
        z-index: -1;
        pointer-events: none;
     }
}  

header {
    padding: 2rem;
    text-align: center;
    h1 {
    color: $color-primario;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    animation: fadeHaciaArriba 1s ease-out forwards;
    span {
        color: lighten($color-primario ,20%);
        font-weight: 300;
    }
}
} 

.navbar {
    @include flex-between; 
    font-size: 1.2rem;
    padding: 1rem 5%;
    border-bottom: 1px solid rgba($texto-brillo, 0.1);
    position: sticky;
    top: 0;
    background-color: rgba($bg-dark, 0.9);
    z-index: 100;
    backdrop-filter: blur(10px);
    
    .Enzo {
        font-weight: bold;
        display: inline-flex;
        align-items: center;

        .tag{
            font-size: 0.8rem;
            color: $color-primario;
            margin-left: 8px;
            border: 1px solid $color-primario;
            padding: 2px 6px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }
    }
    
    ul {
        @include flex-center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-left: 2rem;
            
            a {
                text-decoration: none;
                color: $texto-brillo;
                font-size: 0.9rem;
                transition: $transicion;

                &:hover {
                    color: $color-primario;
                }
            }
        }
    } 
}
/* MAIN/SECTION */
main {
    max-width: $max-width;
    margin: 0 auto;
    padding: 3rem 2rem;
    min-height: 80vh;
}

/* MAIN IMAGEN */
.picture{
    width: 100%;
    max-width: 1200px;
    margin: 3rem auto;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    animation: revelarImagen 1.5s ease-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
     img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        transition: transform 0.6s ease, filter 0.3s ease;
        filter: grayscale(20%) brightness(0.8);
        &:hover{
            transform: scale(1.04);
            filter: grayscale(0%) brightness(1.1);
        }
    }
}

/* FOOTER/SECTION */
footer{
    text-align: center;
    padding: 2rem;
    font-size: 0.8rem;
    color: rgb($texto-brillo, 0.5);
    border-top: 1px solid rgb($texto-brillo,0.1);
}

/* ESTILO PARA LAS CARDS */
.seccion_work {
    margin-bottom: 4rem; // Le da aire antes de llegar al reproductor de Spotify

    .seccion_title {
        text-align: center;
        color: $color-primario;
        font-size: 2.2rem;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
    }
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 2rem; 
}

.card {
    background-color: rgba($bg-dark, 0.75); 
    border: 1px solid rgba($texto-brillo, 0.1);
    backdrop-filter: blur(4px); 
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;;
}

.portada-cover {
    width: 100%;
        aspect-ratio: 1 / 1; 
        object-fit: cover; 
        border-bottom: 2px solid $color-primario; 
        transition: transform 0.5s ease;
}

/* Un pequeño zoom para las tarjetas*/
     &:hover .portada-cover {
        transform: scale(1.05);
    }

.card-content {
        padding: 1.5rem;
        text-align: center;
        h3 {
            color: $texto-brillo;
            margin: 0 0 0.5rem 0;
            font-size: 1.1rem;
            font-weight: 600;
        }
        .labor {
            color: lighten($color-primario, 15%); 
            font-size: 0.9rem;
            margin: 0;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
}



/* ESTILO PARA EL SPOTIFY */
.spotify-container {
    padding: 40px 0;
    text-align: center;

.player-wrapper {
        max-width: 800px; 
        margin: 0 auto;   
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
        border-radius: 12px;
    }
}



//ESTILOS PARA CONTACTO.HTML

.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 2rem;

    .contacto-info {
        text-align: center;
        h2{
            font-size: 2.2rem;
            margin: 0;
            color: $texto-brillo;
        }
    }

    .contacto-form {
        width: 100%;
        max-width: 600px;

        form {
            display: flex;
            flex-direction: column;
            background-color: rgba($bg-dark, 0.8); 
            padding: 40px;
            border-radius: 12px;
            border: 1px solid rgba($texto-brillo, 0.1);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5), 0 0 15px rgba($color-primario, 0.1);;
        }

        .form-group {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            
            label {
                color: $color-primario; // Cambié bordo por tu variable principal del header para asegurar
                margin-bottom: 8px;
                font-size: 0.9rem;
                font-weight: bold;
                letter-spacing: 1px;
            }
            
            input, select, textarea {
                padding: 12px;
                background-color: #1a1a1a;
                border: 1px solid rgba($texto-brillo, 0.2);
                color: $texto-brillo;
                border-radius: 6px;
                font-family: inherit;
                font-family: $transicion;

                &:focus {
                    outline: none;
                    border-color: $color-primario; // Brilla con tu color al hacer click.
                    box-shadow: 0 0 8px rgba($color-primario, 0.3);
                }
            }
        }

        .btn-submit {
            background-color: $color-primario; 
            color: white;
            padding: 14px;
            margin-top: 10px;
            border: none;
            border-radius: 4px;
            font-weight: bold;
            font-size: 1.1rem;
            cursor: pointer;
            text-transform: uppercase;
            transition: opacity 0.2s ease;
            letter-spacing: 1px;
            transition: $transicion;

            &:hover {
                background-color: lighten($color-primario, 10%);
                transform: translateY(-2px);
            }
        }
    }
}

/* Estilos para las redes */
    .redes-box {
        text-align: center;
        width: 100%;
        border-top: 1px solid rgba($texto-brillo, 0.1);
        padding-top: 20px;
        
        h3 {
            color: $texto-brillo;
            margin-bottom: 1.5rem;
            font-weight: 300;
        }

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            gap: 30px; 

            li a {
                text-decoration: none;
                color: lighten($color-primario, 0.6);
                font-size: 1.1rem;
                transition: $transicion;

                &:hover {
                    color: $texto-brillo;
                }
            }
        }
    }

/* Animaciones de la pagina */
@keyframes fadeHaciaArriba {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes revelarImagen {
    0% {
        opacity: 0;
        transform: scale(0.90); 
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/*  Responsivo para que no se rompa en mobile */
@media (max-width: 768px) {
    .contacto-container {
        flex-direction: column;
        gap: 30px;
    }
}
